compose_project_name: datalib
dldir: /usr/local/{{compose_project_name}}
docker_virtual_network: 172.18.0.0/24
ntp_servers:
  - 0.pool.ntp.org
  - 1.pool.ntp.org
  - 2.pool.ntp.org
  - 3.pool.ntp.org

# URL of a pull-through image registry cache. Setting this is useful
# when testing the ansible role, to avoid re-downloading the same
# images again and again. In a production configuration this is
# usually left blank.
docker_registry_mirror:

# At a site with low internet bandwidth, reduce this to 1.
docker_max_concurrent_downloads: 3

# Override this on the command line with -e if you want to run the
# script that updates dlentries and maprooms repos. We generally use
# -e run_update_script when first installing the software, but not
# when updating the configuration of an existing installation.
run_update_script: no

# The hostname and optional port that users will connect to. This might not be
# the same as the port squid is listening on, if there's another proxy in
# between.
dl_hostport: "{{ansible_host}}"

# The mount point of a large disk volume (typically multiple TB). The
# base of defaults for other directories defined below.
data_mountpoint: /data

# Root directory of DL dataset storage. Will have subdirectories named
# home (for datasets under development) and data (for published
# datasets).
dataset_parent_dir: "{{data_mountpoint}}/datalib"

# Path of the directory where datasets are stored. This is typically a
# volume with multiple TB of space, and ideally not the root volume.
docker_dir: "{{data_mountpoint}}/docker"

# Email recipients to which cron job output and other automated system
# status messages will be sent. If mail_relay (see below) is non-empty
# then these can be email addresses of the form user@example.com,
# otherwise they should be local unix user names. If left at the
# default (empty list), messages will be sent to root.
admin_emails: []

# Optional SMTP server in postfix config file format. If set to null,
# mail will be delivered locally.
# mail_relay: "[mail.example.com]:25"
mail_relay: null



# Container version numbers for the various Data Library software
# packages. Do not use "latest", or you might find your software
# being updated when you don't expect it, potentially to a
# non-backwards-compatible version
ingrid_version: d250324
ingriddb_version: d13b453
maproom_base_version: ce2f974
maproom_dev_version: 316f8da
dlsquid_version: de6ed54
