  {
    "log-driver": "local",
  {% if (docker_registry_mirror is defined) and (docker_registry_mirror|length>0) %}
    "registry-mirrors": ["{{docker_registry_mirror }}"],
    "insecure-registries": ["{{docker_registry_mirror }}"],
  {% endif %}
    "max-concurrent-downloads": {{docker_max_concurrent_downloads | default(3) | int}}
  }
